@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --font-header: 'Obitron', "Rajdhani", sans-serif;
    --font-subheader: "Rajdhani", sans-serif;
    --font-body: "JetBrains Mono", monospace;
    --bg-dark: #0D1B2A;
    --card-bg: #1B2A4A;
    --primary-accent: #9D4EDD;
    --secondary-accent: #4EA8DE;
    --text-main: #E0E1DD;
    --text-muted: #778DA9;
}

html{
    background-color: var(--bg-dark);
    display: grid;
    place-items: center;
}

h1{
    font-family: var(--font-header);
    color: var(--primary-accent);
    background-color: var(--card-bg);
    border-radius: 12px;
    text-align: center;
    font-size: 3em;
}

.nav-button {
    background-color: var(--primary-accent);
    max-width: 100%;
    height: 3em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-button:hover {
    background-color: var(--secondary-accent);
}

h1:hover{
    background-color: var(--secondary-accent);
}

h2 {
    font-family: var(--font-header);
    color: var(--primary-accent);
    font-family: var(--font-subheader);
    font-size: 400%;
    align-self: center;
}

a, p{
    font-family: var(--font-body);
    color: var(--text-main);
    text-decoration: none;
}

.nav-div {
    display: flex;
    gap: 20px;
    background-color: var(--card-bg);
    padding: 10px;
    border-radius: 12px;
    justify-content: center;
}
.nav-link {
    flex: 1;
}

.contact-info {
    background-color: var(--card-bg);
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    justify-content: center;
    height: 10vh;
    padding: 10px;
}

#to-github {
    width: 100%;
    height: 100%;
    background-color: var(--primary-accent);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#to-github:hover {
    background-color: var(--secondary-accent);
}

#git-img {
    width: 90%;
    height: 90%;
}

#contact-img {
    background-color: var(--card-bg);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 12px;
}

#phone-img {
    align-self: center;
}